data
[
    {
        "id": "b47595d9.569f88",
        "type": "tab",
        "label": "final_project",
        "disabled": false,
        "info": ""
    },
    {
        "id": "72e5782.7f60b88",
        "type": "function",
        "z": "b47595d9.569f88",
        "name": "",
        "func": "var list1 = [\n    {\"id\":1,\"subTitle\":\"38W Dual-Port USB-C / USB-A Car Charger\", \"name\":\"SCOSCHE\", \"price\":690, \"qty\":0, \"colors\":\"-\", \"info\":\"PowerVolt™ QC38 38W Dual-Port USB-C /  USB-A Car Charger  20W USB-C PD charges phones 4X as fast as a standard 5W charger.*  18W USB-A to quickly charge a 2nd device simultaneously.  Smart circuitry communicates with your devices to achieve  the safest and fastest charge rate.  LED Power Indicator light.  Blue LED indicator lets you know the charger is receiving power  to charge device from your vehicles 12V power outlet.  *Speed when compared to standard 5W charger.\", \"url\":\"https://cdn.istudio.store/media/catalog/product/cache/image/e9c3970ab036de70892d86c6d221abfe/s/c/scosche_38w_dual-port_usb-c_usb-a_car_charger_33991087323_.001.jpeg\",  \"group\":{\"groupId\":1, \"groupName\":\"car\"}},\n    {\"id\":2,\"subTitle\":\"AirCharge Car Wireless Charging Pad\", \"name\":\"Photofast\", \"price\":790, \"qty\":0, \"colors\":\"-\", \"info\":\"You can safely charge the device.Fast charging Qi compatible devices.Embedded magnets can hold 6 or larger mobile devices.Works with any WPC-Compliantdeviceswith the Qi charging method.Fits all smartphones with cases from 2.3 to 3.5 inches wide.\", \"url\":\"https://cdn.istudio.store/media/catalog/product/cache/image/e9c3970ab036de70892d86c6d221abfe/p/h/photofast_aircharge_car_wireless_charging_pad_s12702_1.jpeg\",  \"group\":{\"groupId\":1, \"groupName\":\"car\"}},\n    {\"id\":3,\"subTitle\":\"70MAI\", \"name\":\"A800 4K Smart Dash Cam\", \"price\":142500.00, \"qty\":0, \"colors\":\"-\", \"info\":\"32-inch Retina 6K, Astonishing color accuracy, Superwide viewing angle, and Extreme Dynamic Range\", \"url\":\"https://cdn.istudio.store/media/catalog/product/cache/image/e9c3970ab036de70892d86c6d221abfe/a/8/a800_4k_smart_dash_cam_6971669780241_.001.jpeg\",  \"group\":{\"groupId\":1, \"groupName\":\"car\"}},\n    {\"id\":4,\"subTitle\":\"BELKIN\", \"name\":\"BOOST CHARGE Dual \", \"price\":990, \"qty\":0, \"colors\":\"-\", \"info\":\"Fast charge two phones simultaneously on the go. 18W of dedicated power per USB-C® port means you get fast charging for any USB Power Delivery-enabled device when paired with any USB-C cable. Fast charge an iPhone \", \"url\":\"https://cdn.istudio.store/media/catalog/product/cache/image/700x560/e9c3970ab036de70892d86c6d221abfe/b/o/boost_charge_dual_usb-c_car_charger_36w_745883790432_.001.jpeg\",  \"group\":{\"groupId\":1, \"groupName\":\"car\"}},\n    {\"id\":5,\"subTitle\":\"BELKIN\", \"name\":\"CHARGE Magnetic Car \", \"price\":700, \"qty\":0, \"colors\":\"-\", \"info\":\"This wireless car charger is designed to leverage the MagSafe technology in the iPhone 12 series devices. Quickly charge your iPhone 12 in the car with up to 10W of power, so you’ll always arrive with a charge. Mounting your phone is easy with the convenience of one-handed placement and perfect magnetic alignment every time. View your screen in portrait to set the playlist and flip to landscape mode for GPS, all without interrupting your charge.\", \"url\":\"https://cdn.istudio.store/media/catalog/product/cache/image/700x560/e9c3970ab036de70892d86c6d221abfe/b/e/belkin_boost_charge_magnetic_wireless_car_charger_10w_745883828746_.001.jpeg\",  \"group\":{\"groupId\":2, \"groupName\":\"acc\"}},\n    {\"id\":6,\"subTitle\":\"Airvida M1\", \"name\":\"Ible\", \"price\":7990, \"qty\":0, \"colors\":\"-\", \"info\":\"Mainly refers to the suspended solid particles or liquid droplets in the air, PM2.5 is one of the major sources of air pollution, which stands for fine particulate with diameter less than or equal 2.5 microns. Such fine particulates would gradually accumulate in the trachea and lungs to result in cardiovascular and lung disease which are extremely harmful for health. \", \"url\":\"https://cdn.istudio.store/media/catalog/product/cache/image/e9c3970ab036de70892d86c6d221abfe/i/b/ible_m1.001_1.jpeg\",  \"group\":{\"groupId\":2, \"groupName\":\"acc\"}},\n    {\"id\":7,\"subTitle\":\"Hoover\", \"name\":\"Hand Vacuum\", \"price\":7990, \"qty\":0, \"colors\":\"-\", \"info\":\"The HOOVER® ONEPWR™ Cordless Hand Vacuum is perfect for quick, easy pick-ups around the house and on-the-go. A built-in crevice tool and easy-empty XL dirt cup is the ideal combo for tackling any unexpected mess. Plus, the lightweight, compact design makes it perfect for grab and go cleaning anytime, anywhere. Be ready for what life throws your way!\", \"url\":\"https://cdn.istudio.store/media/catalog/product/cache/image/700x560/e9c3970ab036de70892d86c6d221abfe/h/o/hoover_hand_vac_5012512169668_.001.jpeg\",  \"group\":{\"groupId\":2, \"groupName\":\"acc\"}},\n    {\"id\":8,\"subTitle\":\"Mosclean\", \"name\":\"Car Air Purify AC\", \"price\":1490, \"qty\":0, \"colors\":\"-\", \"info\":\"Eliminates odors from pets, kitchens, bathrooms and cigarette smoke, as well as VOCs* which cause sick building syndrome to provide a pleasant and healthy environment. \", \"url\":\"https://cdn.istudio.store/media/catalog/product/cache/image/700x560/e9c3970ab036de70892d86c6d221abfe/m/o/mosclean_ac2_-_grey_8809585300916_1.jpeg\",  \"group\":{\"groupId\":2, \"groupName\":\"acc\"}},\n];\nmsg.payload = list1;\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 300,
        "wires": [
            [
                "57e90916.0cd198"
            ]
        ]
    },
    {
        "id": "da756d5d.ad58",
        "type": "http in",
        "z": "b47595d9.569f88",
        "name": "",
        "url": "/products",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 270,
        "y": 300,
        "wires": [
            [
                "72e5782.7f60b88"
            ]
        ]
    },
    {
        "id": "57e90916.0cd198",
        "type": "http response",
        "z": "b47595d9.569f88",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 690,
        "y": 300,
        "wires": []
    },
    {
        "id": "dd34cd3.33e393",
        "type": "function",
        "z": "b47595d9.569f88",
        "name": "",
        "func": "var username = msg.payload.username;\nvar password = msg.payload.password;\nif(username ==\"admin\" && password ==\"admin\"){\n    msg.payload = {status:'yes',role:'admin'};\n}\nelse if(username ==\"staff\" && password ==\"staff\"){\n    msg.payload = {status:'yes',role:'staff'};\n}\nelse {\n    msg.payload = {status:'no'};\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 180,
        "wires": [
            [
                "3ef27a08.807866"
            ]
        ]
    },
    {
        "id": "30fe9d3e.3a4312",
        "type": "http in",
        "z": "b47595d9.569f88",
        "name": "",
        "url": "/login",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 270,
        "y": 180,
        "wires": [
            [
                "dd34cd3.33e393"
            ]
        ]
    },
    {
        "id": "3ef27a08.807866",
        "type": "http response",
        "z": "b47595d9.569f88",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 690,
        "y": 180,
        "wires": []
    },
    {
        "id": "607ffaab.170404",
        "type": "function",
        "z": "b47595d9.569f88",
        "name": "",
        "func": "var category1 = [\n    {\"id\":0,\"title\":\"All Accessory\", \"numOfProduct\":3, \"image\":\"https://firebasestorage.googleapis.com/v0/b/carcare-c2dca.appspot.com/o/Acessories%2Fcar-accessories-500x500-1-removebg-preview.png?alt=media&token=db915e71-a5c1-4723-8b40-9caa3e06da83\"},\n    {\"id\":1,\"title\":\"Charger\",\"numOfProduct\":3,  \"image\":\"https://firebasestorage.googleapis.com/v0/b/carcare-c2dca.appspot.com/o/Acessories%2Fbelkin_boost_charge_magnetic_wireless_car_charger_10w_745883828746_.001-removebg-preview.png?alt=media&token=5f73d019-f0ca-43f6-84ab-c6d7a44e48ce\"},\n    {\"id\":2,\"title\":\"Camera\",\"numOfProduct\":3,  \"image\":\"https://firebasestorage.googleapis.com/v0/b/carcare-c2dca.appspot.com/o/Acessories%2Fcamera.png?alt=media&token=f561f063-21ef-4443-815d-b477019be678\"},\n    \n];\nmsg.payload = category1;\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 435,
        "y": 420,
        "wires": [
            [
                "3d8441cc.bc376e"
            ]
        ],
        "l": false
    },
    {
        "id": "a61bf45b.4f0b18",
        "type": "http in",
        "z": "b47595d9.569f88",
        "name": "",
        "url": "/categories",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 260,
        "y": 420,
        "wires": [
            [
                "607ffaab.170404"
            ]
        ]
    },
    {
        "id": "3d8441cc.bc376e",
        "type": "http response",
        "z": "b47595d9.569f88",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 670,
        "y": 420,
        "wires": []
    },
    {
        "id": "c1b33ac4575eba3f",
        "type": "function",
        "z": "b47595d9.569f88",
        "name": "",
        "func": "var list1 = [\n    {\"id\":1,\"name\":\"Suzuki\",\"subTitle\":\"-\",\"model\":\"Swift\",\"price\":269000.00,\"discount\":0.00,\"qty\":0,\"year\":2013,\"colors\":\"red\",\"info\":\"เกียร์ อัตโนมัติ, เครื่องยนต์ (CC) 1,200, เลขไมล์ 147,073 กม., เกียร์ อัตโนมัติ, เชื้อเพลิง เบนซิน\",\"url\":\"https://cdn.carro.co/tr:w-558,h-315,pr-true/2021/10/Inventory/20097292/carro_qa8zwzc4sILLywKl.jpg\",\"group\":{\"groupId\":1,\"groupName\":\"car\"}},\n    {\"id\":2,\"name\":\"Toyota\",\"subTitle\":\"-\",\"model\":\"Vios\",\"price\":319000.00,\"discount\":0.00,\"qty\":0,\"year\":2017,\"colors\":\"black\",\"info\":\"เกียร์ อัตโนมัติ, เครื่องยนต์ (CC) 1,500, เลขไมล์ 100,468 กม., เกียร์ อัตโนมัติ, เชื้อเพลิง เบนซิน\",\"url\":\"https://cdn.carro.co/tr:w-558,h-315,pr-true/2021/10/Inventory/20096734/carro_bFPjmtATI9EzdeEw.jpg\",\"group\":{\"groupId\":1,\"groupName\":\"car\"}},\n    {\"id\":3,\"name\":\"Toyota\",\"subTitle\":\"-\",\"model\":\"Vios\",\"price\":329000.00,\"discount\":0.00,\"qty\":0,\"year\":2541,\"colors\":\"grey\",\"info\":\"เกียร์ อัตโนมัติ, เครื่องยนต์ (CC) 1,500, เลขไมล์ 81,018 กม., เกียร์ อัตโนมัติ, เชื้อเพลิง เบนซิน\",\"url\":\"https://cdn.carro.co/tr:w-558,h-315,pr-true/2021/08/Inventory/17698682/carro_VCZXxfrhps5023xt.jpg\",\"group\":{\"groupId\":1,\"groupName\":\"car\"}},\n    {\"id\":4,\"name\":\"Suzuki\",\"subTitle\":\"-\",\"model\":\"Swift\",\"price\":279000.00,\"discount\":0.00,\"qty\":0,\"year\":2015,\"colors\":\"black\",\"info\":\"เกียร์ อัตโนมัติ, เครื่องยนต์ (CC) 1,200, เลขไมล์ 100,946 กม., เกียร์ อัตโนมัติ, เชื้อเพลิง เบนซิน\",\"url\":\"https://cdn.carro.co/tr:w-558,h-315,pr-true/2021/10/Inventory/20096522/carro_3Ec3xTiU7zl7JcXF.jpg\",\"group\":{\"groupId\":1,\"groupName\":\"car\"}},\n    {\"id\":5,\"name\":\"Toyota\",\"subTitle\":\"-\",\"model\":\"Hilux Revo\",\"price\":649000.00,\"discount\":0.00,\"qty\":0,\"year\":2017,\"colors\":\"black\",\"info\":\"เกียร์ อัตโนมัติ, เครื่องยนต์ (CC) 2,800, เลขไมล์ 92,045 กม., เกียร์ อัตโนมัติ, เชื้อเพลิง ดีเซล\",\"url\":\"https://cdn.carro.co/tr:w-558,h-315,pr-true/2021/10/Inventory/20094452/carro_8TtUajeVTxVfOrAB.jpg\",\"group\":{\"groupId\":1,\"groupName\":\"car\"}},\n    {\"id\":6,\"name\":\"Nissan\",\"subTitle\":\"-\",\"model\":\"Navara\",\"price\":639000.00,\"discount\":0.00,\"qty\":0,\"year\":2017,\"colors\":\"white\",\"info\":\"เกียร์ อัตโนมัติ, เครื่องยนต์ (CC) 2,500, เลขไมล์ 69,423 กม., เกียร์ อัตโนมัติ, เชื้อเพลิง ดีเซล\",\"url\":\"https://cdn.carro.co/tr:w-558,h-315,pr-true/2021/10/Inventory/20094113/carro_VCrOXblavxEp7mAY.jpg\",\"group\":{\"groupId\":1,\"groupName\":\"car\"}},\n    {\"id\":7,\"name\":\"Mazda\",\"subTitle\":\"-\",\"model\":\"High\",\"price\":359000.00,\"discount\":0.00,\"qty\":0,\"year\":2016,\"colors\":\"white\",\"info\":\"เกียร์ อัตโนมัติ, เครื่องยนต์ (CC) 1,300, เลขไมล์ 48,520 กม., เกียร์ อัตโนมัติ, เชื้อเพลิง เบนซิน\",\"url\":\"https://cdn.carro.co/tr:w-558,h-315,pr-true/2021/10/Inventory/20093060/carro_Mpb6R2Qzm2ntqm0o.jpg\",\"group\":{\"groupId\":1,\"groupName\":\"car\"}},\n    {\"id\":8,\"name\":\"Honda\",\"subTitle\":\"-\",\"model\":\"Jazz\",\"price\":419000.00,\"discount\":0.00,\"qty\":0,\"year\":2017,\"colors\":\"grey\",\"info\":\"เกียร์ อัตโนมัติ, เครื่องยนต์ (CC) 1,500, เลขไมล์ 82,849 กม., เกียร์ อัตโนมัติ, เชื้อเพลิง เบนซิน\",\"url\":\"https://cdn.carro.co/tr:w-558,h-315,pr-true/2021/10/Inventory/20092073/carro_aVkSbzikDrnk5zwn.jpg\",\"group\":{\"groupId\":1,\"groupName\":\"car\"}},\n    {\"id\":9,\"name\":\"Honda\",\"subTitle\":\"-\",\"model\":\"Civic\",\"price\":599000.00,\"discount\":0.00,\"qty\":0,\"year\":2016,\"colors\":\"blue\",\"info\":\"เกียร์ อัตโนมัติ, เครื่องยนต์ (CC) 1,800, เลขไมล์ 27,060 กม., เกียร์ อัตโนมัติ, เชื้อเพลิง เบนซิน\",\"url\":\"https://cdn.carro.co/tr:w-558,h-315,pr-true/2021/10/Inventory/20091765/carro_29RQ9JSjW5m1q2R6.jpg\",\"group\":{\"groupId\":1,\"groupName\":\"car\"}},\n    {\"id\":10,\"name\":\"Honda\",\"subTitle\":\"-\",\"model\":\"City\",\"price\":469000.00,\"discount\":0.00,\"qty\":0,\"year\":2018,\"colors\":\"white\",\"info\":\"เกียร์ อัตโนมัติ, เครื่องยนต์ (CC) 1,500, เลขไมล์ 71,133 กม., เกียร์ อัตโนมัติ, เชื้อเพลิง เบนซิน\",\"url\":\"https://cdn.carro.co/tr:w-558,h-315,pr-true/2021/10/Inventory/20091473/carro_0AXncAIuuZLq0nEn.jpg\",\"group\":{\"groupId\":1,\"groupName\":\"car\"}}, \n    {\"id\":11,\"name\":\"Toyota\",\"subTitle\":\"-\",\"model\":\"Yaris\",\"price\":399000.00,\"discount\":0.00,\"qty\":0,\"year\":2018,\"colors\":\"red\",\"info\":\"เกียร์ อัตโนมัติ, เครื่องยนต์ (CC) 1,200, เลขไมล์ 120,386 กม., เกียร์ อัตโนมัติ, เชื้อเพลิง เบนซิน\",\"url\":\"https://cdn.carro.co/tr:w-558,h-315,pr-true/2021/10/Inventory/20090874/carro_ENfMi2fSL3Gg26dq.jpg\",\"group\":{\"groupId\":1,\"groupName\":\"car\"}},\n    {\"id\":12,\"name\":\"Mitsubishi\",\"subTitle\":\"-\",\"model\":\"Triton\",\"price\":479000.00,\"discount\":0.00,\"qty\":0,\"year\":2018,\"colors\":\"white\",\"info\":\"เกียร์ อัตโนมัติ, เครื่องยนต์ (CC) 2,400, เลขไมล์ 17,224 กม., เกียร์ อัตโนมัติ, เชื้อเพลิง ดีเซล\",\"url\":\"https://cdn.carro.co/tr:w-558,h-315,pr-true/2021/10/Inventory/20090648/carro_F8WrZ1yGvyzNQ0nB.jpg\",\"group\":{\"groupId\":1,\"groupName\":\"car\"}},\n    {\"id\":13,\"name\":\"Nissan\",\"subTitle\":\"-\",\"model\":\"Note\",\"price\":359000.00,\"discount\":0.00,\"qty\":0,\"year\":2017,\"colors\":\"pink\",\"info\":\"เกียร์ อัตโนมัติ, เครื่องยนต์ (CC) 1,200, เลขไมล์ 91,142 กม., เกียร์ อัตโนมัติ, เชื้อเพลิง เบนซิน\",\"url\":\"https://cdn.carro.co/tr:w-558,h-315,pr-true/2021/10/Inventory/20090053/carro_Y7jcTMMa6gu1xv2U.jpg\",\"group\":{\"groupId\":1,\"groupName\":\"car\"}},\n    {\"id\":14,\"name\":\"Toyota\",\"subTitle\":\"-\",\"model\":\"Fortuner\",\"price\":899000.00,\"discount\":0.00,\"qty\":0,\"year\":2018,\"colors\":\"black\",\"info\":\"เกียร์ อัตโนมัติ, เครื่องยนต์ (CC) 2,400, เลขไมล์ 140,111 กม., เกียร์ อัตโนมัติ, เชื้อเพลิง ดีเซล\",\"url\":\"https://cdn.carro.co/tr:w-558,h-315,pr-true/2021/10/Inventory/20089566/carro_pLdC86DFvBzzAbzd.jpg\",\"group\":{\"groupId\":1,\"groupName\":\"car\"}},\n    {\"id\":15,\"name\":\"Honda\",\"subTitle\":\"-\",\"model\":\"CRV\",\"price\":879000.00,\"discount\":0.00,\"qty\":0,\"year\":2018,\"colors\":\"white\",\"info\":\"เกียร์ อัตโนมัติ, เครื่องยนต์ (CC) 2,400, เลขไมล์ 107,690 กม., เกียร์ อัตโนมัติ, เชื้อเพลิง เบนซิน\",\"url\":\"https://cdn.carro.co/tr:w-558,h-315,pr-true/2021/10/Inventory/20088899/carro_38sx2P0x3ZhKCsgf.jpg\",\"group\":{\"groupId\":1,\"groupName\":\"car\"}},\n    {\"id\":16,\"name\":\"Honda\",\"subTitle\":\"-\",\"model\":\"City\",\"price\":499000.00,\"discount\":0.00,\"qty\":0,\"year\":2020,\"colors\":\"black\",\"info\":\"เกียร์ อัตโนมัติ, เครื่องยนต์ (CC) 1,000, เลขไมล์ 25,372 กม., เกียร์ อัตโนมัติ, เชื้อเพลิง เบนซิน\",\"url\":\"https://cdn.carro.co/tr:w-558,h-315,pr-true/2021/10/Inventory/20086196/carro_CwMeHW9NRIvFFUge.jpg\",\"group\":{\"groupId\":1,\"groupName\":\"car\"}},\n    {\"id\":17,\"name\":\"Honda\",\"subTitle\":\"-\",\"model\":\"Civic\",\"price\":649000.00,\"discount\":0.00,\"qty\":0,\"year\":2019,\"colors\":\"white\",\"info\":\"เกียร์ อัตโนมัติ, เครื่องยนต์ (CC) 1,800, เลขไมล์ 136,313 กม., เกียร์ อัตโนมัติ, เชื้อเพลิง เบนซิน\",\"url\":\"https://cdn.carro.co/tr:w-558,h-315,pr-true/2021/10/Inventory/20087035/carro_AWtP7ICFjfRh1A7v.jpg\",\"group\":{\"groupId\":1,\"groupName\":\"car\"}},\n    {\"id\":18,\"name\":\"Hyundai\",\"subTitle\":\"-\",\"model\":\"Deluxe\",\"price\":689000.00,\"discount\":0.00,\"qty\":0,\"year\":2014,\"colors\":\"black\",\"info\":\"เกียร์ อัตโนมัติ, เครื่องยนต์ (CC) -, เลขไมล์ 127,485 กม., เกียร์ อัตโนมัติ, เชื้อเพลิง ดีเซล\",\"url\":\"https://cdn.carro.co/tr:w-558,h-315,pr-true/2021/08/Inventory/17383598/carro_rCzxekEDfiiuzBWG.jpg\",\"group\":{\"groupId\":1,\"groupName\":\"car\"}},\n    {\"id\":19,\"name\":\"Nissan\",\"subTitle\":\"-\",\"model\":\"March\",\"price\":219000.00,\"discount\":0.00,\"qty\":0,\"year\":2018,\"colors\":\"white\",\"info\":\"เกียร์ อัตโนมัติ, เครื่องยนต์ (CC) 1,200, เลขไมล์ 33,505 กม., เกียร์ อัตโนมัติ, เชื้อเพลิง เบนซิน\",\"url\":\"https://cdn.carro.co/tr:w-558,h-315,pr-true/2021/10/Inventory/19948509/carro_SVbXGpVcqb0lnZ2m.jpg\",\"group\":{\"groupId\":1,\"groupName\":\"car\"}},\n    {\"id\":20,\"name\":\"Mazda\",\"subTitle\":\"-\",\"model\":\"S\",\"price\":179000.00,\"discount\":0.00,\"qty\":0,\"year\":2009,\"colors\":\" black \",\"info\":\"เกียร์ อัตโนมัติ, เครื่องยนต์ (CC) 1,600, เลขไมล์ 91,819 กม., เกียร์ อัตโนมัติ, เชื้อเพลิง เบนซิน\",\"url\":\"https://cdn.carro.co/tr:w-558,h-315,pr-true/2021/10/Inventory/19951736/carro_X4FBEQYJx4DlYuTe.jpg\",\"group\":{\"groupId\":1,\"groupName\":\"car\"}},\n];\nmsg.payload = list1;\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 540,
        "wires": [
            [
                "e1375f72cd214aef"
            ]
        ]
    },
    {
        "id": "11030aff16c08779",
        "type": "http in",
        "z": "b47595d9.569f88",
        "name": "",
        "url": "/cars",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 540,
        "wires": [
            [
                "c1b33ac4575eba3f"
            ]
        ]
    },
    {
        "id": "e1375f72cd214aef",
        "type": "http response",
        "z": "b47595d9.569f88",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 670,
        "y": 540,
        "wires": []
    }
]
